@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes moveTechStack {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-tech-stack {
  animation: moveTechStack 2s infinite;
}



/* Add this to your styles */
.hover-overlay {
  background: rgba(255, 255, 255, 0.5); /* Adjust the transparency here */
  backdrop-filter: blur(8px);
  color: #fff; /* Adjust text color for better visibility */
  padding: 10px; /* Add padding for better visibility */
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.relative:hover .hover-overlay {
  opacity: 1;
}

